<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/silverstripe/framework/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="unit">
            <directory>vendor/wedevelopnl/silverstripe-sweeper/tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>vendor/wedevelopnl/silverstripe-sweeper/tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">vendor/wedevelopnl/silverstripe-sweeper/src</directory>
        </include>
    </coverage>
</phpunit>
